<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Traceability app</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body>
<header>
    <div class="upper-margin">
        <nav >
            <ul class="top-nav">
                <li>
                    <a class="nav-link h5 my-text-color" sec:authorize="isAuthenticated()">Welcome, <span th:text="${#authentication.name}">Guest</span></a>
                </li>

                <li>
<!--                    <a href=""><i class="fa-sharp-duotone fa-solid fa-house"></i></a>-->
                </li>

                <li>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="logout-btn">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</header>

    <div class="container container-log">
        <input type="text"
               name="pieceNumber"
               id="textInput"
               autocomplete="off"
               autofocus />
        <div>
            <h2>Pieces in session</h2>
        </div>
        <div class="data-container">
            <p>No. inbox: <span th:text="${inboxNumber}">225455</span></p>
            <p>No. Reference: <span th:text="${referenceNumber}">1010505</span></p>
            <p>No. Outbox: <span th:text="${outboxNumber}">235214554</span></p>
            <p>Customer:<span th:text="${customer}"></span></p>
        </div>
        
        <div class="container-pcs" id="container">

        </div>
        <form th:action="@{/measuring/daily/{sessionId}(sessionId=${sessionId})}" method="post" >

             <button class="submit-button bottom-btn" type="submit">End session</button>

        </form>
        

    </div>


        <input type="hidden" name="sessionId" th:value="${sessionId}" />

<div  id="rusModal" class="modal">

    <div class="modal-content modal-content-rus">
        <span class="close" onclick="closeRusModal()">&times;</span>

        <h3>Enter data</h3>

        <form >
            <select id="rusProblemSelect" name="problemSelect">
                <option value= "" disabled selected hidden>Choose a problem</option>
                <option value="BAD_ROUGHNESS">Bad roughness</option>
                <option value="IMPACT">Impact</option>
                <option value="BAD_POSITIONING">Bad positioning</option>
                <option value="TECHNICAL_PROBLEM">Technical problem</option>
                <option value="OTHER_PROBLEMS">Other problems</option>
            </select>
            <textarea id="rusComment" name="comment" placeholder="comment" ></textarea>
            <button type="button" onclick="saveData()">Send</button>
        </form>



    </div>

</div>

<div id="setupModal"  class="modal">

    <div class="modal-content  modal-content-setup">
        <span class="close" onclick="closeRusModal()">&times;</span>

        <h3>Enter data</h3>

        <form >
            <select id="setupProblemSelect" name="problemSelect">
                <option value= "" disabled selected hidden>Choose a problem</option>
                <option value="REGULAR_REPLACEMENT">Regular replacement</option>
                <option value="TOOL_BROKEN">Tool broken</option>
                <option value="PROBLEM_WITH_MEASURE">Problem with measure</option>


            </select>
            <textarea id="setupComment" name="comment" placeholder="comment" ></textarea>
            <button type="button" onclick="saveData()">Send</button>
        </form>



    </div>

</div>

<div id="rfModal"  class="modal">

    <div class="modal-content modal-content-rf">
        <span class="close" onclick="closeRusModal()">&times;</span>

        <h3>Enter data</h3>

        <form >
            <select id="rfProblemSelect" name="problemSelect">
                <option value= "" disabled selected hidden>Choose a problem</option>
                <option value="LACK_OF_MATERIAL">Lack of material</option>
                <option value="EXCESS_MATERIAL">Excess material</option>
                <option value="POROSITY">Porosity</option>
                <option value="CRACK">Crack</option>
            </select>
            <textarea id="rfComment" name="comment" placeholder="comment" ></textarea>
            <button type="button" onclick="saveData()">Send</button>
        </form>



    </div>

</div>




<script th:inline="javascript">


    function openModal() {

    let model = "";
    let problem = "";
    let comment = "";

    if(value.startsWith("RF")){
        model = "rfModal";
        problem = "rfProblemSelect";
        comment = "rfComment";
    }else if(value.startsWith("RUS")){
        model = "rusModal";
        problem = "rusProblemSelect";
        comment = "rusComment";
    }else if(value.startsWith("KS")){
         model = "setupModal"
        problem = "setupProblemSelect";
        comment = "setupComment";

    }
    document.getElementById(model).style.display = "block";
    document.getElementById(problem).selectedIndex = 0;
    document.getElementById(comment).value = "";

}

function closeModal() {
let model = "";

    if(value.startsWith("RF")){
        model = "rfModal";
    }else if(value.startsWith("RUS")){
        model = "rusModal";
    }else if(value.startsWith("KS")){
         model = "setupModal"
    }

    document.getElementById(model).style.display = "none";
}

    const sessionId = [[${sessionId}]];
const inputField = document.getElementById('textInput');
const container = document.getElementById('container');
let counter = 1;
let value ="";
inputField.addEventListener('keypress', (e) => {
    if (e.key === 'Enter') {
        e.preventDefault();

        value = inputField.value.trim();
        if (!value) return;

        if(value.startsWith("RF")){
            fetch('/piece/rf/qr-check', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({ qrCode: value})
                        })
                        .then(res => res.json())
                        .then(data => {
                            if (data.inDataBase) {
                                inputField.value = "";
                                alert(data.message);
                            } else {
                               openModal(); // kod je slobodan → otvori popup
                            }
                        })
                        .catch(err => console.error(err));

        }else if(value.startsWith("KK")) {

            fetch('/piece/add-kk', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json'},
                    body: JSON.stringify({
                        qrCode: value,
                        sessionId: sessionId})
                })
                .then(response => response.json())
                .then(data => {
                    if(data.saved){
                        createDiv(value);

                    }else{
                        alert(data.message)
                    }
                });
        } else if (value.startsWith("RUS")){

              fetch('/piece/rus/qr-check', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ qrCode: value})
                })
                .then(res => res.json())
                .then(data => {
                    if (data.inDataBase) {
                        inputField.value = "";
                        alert(data.message);
                    } else {
                       openModal(); // kod je slobodan → otvori popup
                    }
                })
                .catch(err => console.error(err));

        }else if (value.startsWith("KS")){
            fetch('/piece/setup/qr-check', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ qrCode: value})
                    })
                    .then(res => res.json())
                    .then(data => {
                        if (data.inDataBase) {
                            inputField.value = "";
                            alert(data.message);
                        } else {
                           openModal(); // kod je slobodan → otvori popup
                        }
                    })
                    .catch(err => console.error(err));

        }else if(value.startsWith("RK")){
            fetch('/piece/add-ok', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json'},
                body: JSON.stringify({
                    qrCode: value,
                    sessionId: sessionId})
            })
            .then(response => response.json())
            .then(data => {
                if(data.saved){
                    createDiv(value);

                }else{
                    alert(data.message)
                }
            });



    }
     inputField.value = '';
}});


function createDiv(){
const newDiv = document.createElement('div');
    newDiv.textContent=counter+" > ";
    newDiv.textContent += value;
        newDiv.classList.add('pcs')
        if(value.startsWith("RF")){
            newDiv.classList.add("pcs-rf");
        }else if(value.startsWith("KK")){
            newDiv.classList.add("pcs-kk");
        }else if(value.startsWith("RUS")){
            newDiv.classList.add("pcs-rus");
        }else if(value.startsWith("KS")){
            newDiv.classList.add("pcs-ks");
        }
        container.appendChild(newDiv);
        counter++;
    }

    function saveData() {
    closeModal();

    let url = "";
    let problemData = "";
    let commentData = ""

    if(value.startsWith("RF")){
        url ='/piece/rf/save-data';
        problemData = "rfProblemSelect";
        commentData = "rfComment";
    }else if(value.startsWith("RUS")){
        url ='/piece/rus/save-data';
        problemData = "rusProblemSelect";
        commentData = "rusComment";
    }else if(value.startsWith("KS")){
         url ='/piece/setup/save-data';
         problemData = "setupProblemSelect";
        commentData = "setupComment";
    }

    const problem = document.getElementById(problemData).value;
    const comment = document.getElementById(commentData).value;
    console.log(problem);

    if (!problem) return alert("Unesi dodatne podatke");

    fetch(url, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ qrCode:value,
                               problem: problem,
                               comment: comment,
                               sessionId: sessionId})
    })
    .then(res => res.json())
    .then(data => {
        if (data.success) {
            alert("Podaci sačuvani!");
            closeModal();
            createDiv(value);
        }
    })
    .catch(err => console.error(err));
    createDiv();
    inputField.value = '';
}



</script>

</body>
</html>